body {
  background-color: whitesmoke;
}

.main-app {
  margin-left: 2%;
}

#title {
  background-color: purple;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 3px;
}

#instructions {
  font-family: cursive;
  margin-bottom: 3px;
}

.cell {
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.cyan {
  background-color: cyan;
}

.green {
  background-color: green;
}

.magenta {
  background-color: magenta;
}

.yellow {
  background-color: yellow;
}
