body {
  background-color: lightblue;
  margin-left: 20px;
  margin-top: 20px;
}

#update-grid-button {
  margin: auto;
}

.cell {
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.cyan {
  background-color: cyan;
}

.green {
  background-color: green;
}

.magenta {
  background-color: magenta;
}

.yellow {
  background-color: yellow;
}
